services:
    api:
        build:
            context: .
            target: prod
        container_name: ecom-api-prod
        ports:
            - "5000:5000"
        env_file: .env
        environment:
            NODE_ENV: production
        volumes:
            - ./logs:/app/logs
